﻿@page "/countryselector"


<h3>Hello from country</h3>

@using Covid19.Data
@inject CountryService Service
@inject NavigationManager NavigationManager
<select class="form-control"  @bind="@SelectedCountryID">

    <option value="@SelectedCountryID"></option>
    @foreach (var country in CountryList)
    {
        <option value="@country.Slug"> @country.Name </option>
    }
    

</select>

<button class="btn btn-primary" @onclick="FetchData">
    Fetch Data
</button>


<p>@SelectedCountryID</p>

@code {

    string selectedCountryID;

    string SelectedCountryID
    {
        get => selectedCountryID;
        set
        {
            selectedCountryID = value;

        }
    }

    List<Country> CountryList = new List<Country>() { new Country ("USA", "United States"),
                                                      new Country ("UK", "United Kingdom") };


    protected override async Task OnInitializedAsync()
    {
        CountryList = await Service.GetCountriesAsync("https://api.covid19api.com/countries");
        SelectedCountryID = CountryList.ElementAt(0).Slug;
        this.StateHasChanged();
    }

    protected void FetchData()
    {
        NavigationManager.NavigateTo("FetchStatistic/" + SelectedCountryID);
    }
}

