﻿@page "/fetchstatistic/"
@page "/fetchstatistic/{text}"
@using Covid19.Data
@inject CountryService Service
<h3>@Text</h3>

<button class="btn btn-primary" @onclick="LatestDateFirst">
    Latest date first
</button>

<button class="btn btn-primary" @onclick="LatestDateLast">
    Latest date last
</button>

@if (infoCountryList == null)
{
    <p><em>Loading...</em></p>
}
else if (infoCountryList.Count == 0)
{
    <p><em>No data for this country was provided...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Confirmed cases</th>
                <th>Active</th>
                <th>Deaths</th>
                <th>Recovered</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in infoCountryList)
            {
                string date = item.DateTime.ToShortDateString();
                string currentDate = DateTime.Now.ToShortDateString();
                string yesterday = DateTime.Now.AddDays(-1).ToShortDateString();
                if (date.Equals(currentDate))
                {
                    date = "Current date";
                }
                if (date.Equals(yesterday))
                {
                    //Some days you do not get statistic from current day, show from yesterday also
                    date = "Yesterday";
                }
                <tr>

                    <td>@date</td>
                    <td>@item.Confirmed</td>
                    <td>@item.Active</td>
                    <td>@item.Deaths</td>
                    <td>@item.Recovered</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    [Parameter]
    public string Text { get; set; }

    protected List<InfoCountry> infoCountryList;

    protected override async Task OnInitializedAsync()
    {
        Text = Text ?? "";
        infoCountryList = await Service.GetCountryStatisticAsync(Text);
        this.StateHasChanged();
    }

    /// <summary>
    /// Show the cases by sorting the latesr date first
    /// </summary>
    protected void LatestDateFirst()
    {

        infoCountryList.Sort((x, y) => DateTime.Compare(y.DateTime, x.DateTime));
        this.StateHasChanged();
    }

    /// <summary>
    /// Show the list by sorting the latest date last
    /// </summary>
    protected void LatestDateLast()
    {
        infoCountryList.Sort((x, y) => DateTime.Compare(x.DateTime, y.DateTime));
        this.StateHasChanged();
    }
}
